<% provide(:title, "Sign in to your account") %>
<section class="signup">
    <div class="container">
        <h1>Sign In</h1>
            <%= form_for(:session, url: signin_path) do |f| %>
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
                <div class="radio-group">
                    <%= f.label :remember_me do %>
                        <%= f.check_box :remember_me %>
                        <span>Remember me on this computer.</span>
                    <% end %>
                </div>
                <%= f.submit "Log in", class: "button-submit" %>
            <% end %>
        <p>New user? <%= link_to "Register", register_path %></p>
    </div>
</section>
