<% provide(:title, "Register for an account") %>
<section class="signup">
    <div class="container">
        <h1>Register</h1>
        <%= form_for(@user, url: register_path) do |f| %>
            <%= render 'shared/error_messages' %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <%= f.submit "Create my account", class: "button-submit" %>
        <% end %>
    </div>
</section>
