<footer class="main-footer">
    <div class="container">
        <p>Ryan S. Rich - &copy; 2016</p>
        <nav>
            <% if signed_in? %>
                <%= link_to "About", about_path %>
                <%= link_to "Blog", "#" %>
                <%= link_to "Contact", contact_path %>
                <%= link_to "Profile", current_user %>
                <%= link_to "Log out", logout_path, method: "delete" %>
            <% else %>
                <%= link_to "About", about_path %>
                <%= link_to "Register", register_path %>
                <%= link_to "Sign in", signin_path %>
            <% end %>
        </nav>
    </div>
</footer>
