<header class="main-header">
    <div class="container">
        <%= link_to "The Brief", "/", id: "logo" %>
        <nav>
            <%= link_to "about", about_path %>
            <%= link_to "contact", contact_path %>
            <%= link_to "Register", register_path, class: "button-alt" %>
            <%= link_to "Sign in", "#", class: "button" %>
        </nav>
    </div>
</header>
